extends layout/_layout
block content
  include mixins/_mixins
  +ie-open({table:600})
  table(border="0" width="600" cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%;")
    tr
      td.px-global.bg-feature.py-global
  +ie-close


