//- include mixins/_mixins
//- +ie-open({table:600})
//- table(align="center" valign="top" width="600" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%;")
//-   tr
//-     td(style="max-width:600px;").px-global-header
//-       a(href="#")
//-         img(src="https://gallery.mailchimp.com/2e20b32d492bd62d510f96468/images/6e9b7e76-f429-4b6e-9597-865d197c65bf.jpg", alt="").w-100
//- +ie-close